@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    font-family: 'Inter', sans-serif;
    overflow-x : hidden;
}
.nav-fixed {
    @apply fixed z-[9999] bg-primary bg-opacity-95 text-white ;
    box-shadow : inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}
.nav-first {
    @apply group-hover:text-primary lg:group-hover:text-white  ;
}
.nav-convert {
    @apply group-hover:text-primary lg:group-hover:text-black lg:text-white ;
}
.humberger-line {
    @apply w-[30px] h-[2px] my-2 block bg-black;
}
.humberger-active > span:first-child {
    @apply rotate-45;
}
.humberger-active > span:nth-child(2) {
    @apply bg-transparent
}
.humberger-active > span:last-child {
    @apply -rotate-45;
}
/* top */
.custom-shape-divider-top-1707154044 {  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1707154044 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 186px;
}

.custom-shape-divider-top-1707154044 .shape-fill {
    fill: #F97316;
}
/* bot */

@media (min-width: 375px) {
    .custom-shape-divider-top-1707154044 svg {
        height: 20px;
    }
}

@media (min-width: 414px) {
    .custom-shape-divider-top-1707154044 svg {
        height: 50px;
    }
}
@media (min-width: 640px) {
    .custom-shape-divider-top-1707154044 svg {
        height: 80px;
    }
}
@media (min-width: 768px) {
    .custom-shape-divider-top-1707154044 svg {
        height: 90px;
    }
}
@media (min-width: 1024px) {
    .custom-shape-divider-top-1707154044 svg {
        height: 120px;
    }
}